section.new-tweet {
  background-color: #eee;
  border-radius: 5px;
  border: 3px solid #6b556b;
  margin: 2em;
  padding: 10px;
}

h2 {
  text-decoration: underline;
}

textarea {
  display: block;
  width: 100%;
  height: 75px;
  padding: 10px;
}

input {
  display: inline-block;
  margin: 8px 0px;
  border-radius: 5px;
}

input:hover {
  background-color: #6b556b;
  color: #eee;
}

.counter {
  float: right;
  padding: 8px;
}

article {
  background-color: #eee;
  border-radius: 5px;
  border: 3px solid #6b556b;
  margin: 2em;
  padding: 10px;
}

article header img {
  float: left;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

article header {

  border: 1px solid #6b556b;

  background-color: #d2e1f1;
}

article header h2 {
  font-size: 1.5em;
}

article header span {
  text-align: right;
  float: right;
  margin-top: -40px;
  margin-right: 8px;
}

article .tweet-text {
  display: block;
  border: 1px solid #eee;
  height: 5em;
  padding: 5px;
  background-color: white;
}

article footer {
  margin-bottom: 5px;
  border: 1px solid #6b556b;
  background-color: #d2e1f1;
  padding: 5px;
}

article.tweet:hover {
  opacity: 0.8;
}
article.tweet div.icons {
  opacity: 0;
  float: right;

}
article.tweet:hover div.icons {
  opacity: 1;
  float: right;
  margin-top: -15px;
}